# Copy to .env and fill in values. Do NOT commit .env to git.

NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=uber_system

REDIS_HOST=localhost
REDIS_PORT=6379

# When running app locally: localhost:9092
# When running app in Docker Compose: kafka:29092
KAFKA_BROKER=localhost:9092
