# Dependencies
node_modules/

# Build output
dist/
build/

# Environment files
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# Source maps
*.js.map

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Coverage
coverage/

# NestJS cache
.nest/

# Docker volumes
docker-volumes/

.agent
.github
